$background: #202020;

@media (min-width: 1024px) {
    .v-card {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (max-width: 1024px) {
    .v-card {
        margin-left: 2%;
        margin-right: 2%;
    }
}